<h1>Random Beers</h1>

     <img src="{{responseFromAPI.image_url.[0]}}" alt="{{responseFromAPI.name.[0]}}">
    <p>{{responseFromAPI.name.[0]}}</p>
    <p>{{responseFromAPI.description.[0]}}</p>
    <p>{{responseFromAPI.tagline.[0]}}</p>
    <p>{{responseFromAPI.food_pairing.[0]}}</p>
    <p>{{responseFromAPI.brewers_tips.[0]}}</p>
